<html ng-app="SCChartApp">
	<head>
		<title>Social Cops Chart App</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script type="text/javascript" src="https://code.angularjs.org/1.4.1/angular.min.js"></script>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
		<script src="js/jquery-3.1.1.min.js"></script>
		<script src="css/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src = "js/chartApp.js"></script>
		<script type="text/javascript" src = "js/fusioncharts.js"></script>
		<link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css">
		<script type="text/javascript" src = "js/fusioncharts.charts.js"></script>
		<script type="text/javascript" src = "js/angular-fusioncharts.min.js"></script>
	</head>

	<body ng-controller="MyController">

		<nav class="navbar navbar-default">
			<div class="container-fluid">
		      <div class="navbar-header">
		        <a class="navbar-brand" href="#">SocialCops Chart App</a>
		      </div>
		      <ul class="nav navbar-nav">
		        <li class="active"><a href="#">Home</a></li>
		        <li class="dropdown">
		          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Chart Types
		          <span class="caret"></span></a>
		          <ul class="dropdown-menu">
					<li><a href="#" ng-click="chartType='column2D'" >Column 2D</a></li>
					<li><a href="#" ng-click="chartType='column3D'" >Column 3D</a></li>
					<li><a href="#" ng-click="chartType='line'" >Line</a></li>
					<li><a href="#" ng-click="chartType='area2D'" >Area 2D</a></li>
					<li><a href="#" ng-click="chartType='bar2D'" >Bar 2D</a></li>
					<li><a href="#" ng-click="chartType='bar3D'" >Bar 3D</a></li>
					<li><a href="#" ng-click="chartType='pie2D'" >Pie 2D</a></li>
					<li><a href="#" ng-click="chartType='pie3D'" >Pie 3D</a></li>
					<li><a href="#" ng-click="chartType='doughnut2D'" >Doughnut 2D</a></li>
					<li><a href="#" ng-click="chartType='doughnut3D'" >Doughnut 3D</a></li>
					<li><a href="#" ng-click="chartType='pareto2D'" >Pareto 2D</a></li>
					<li><a href="#" ng-click="chartType='pareto3D'" >Pareto 3D</a></li>
		          </ul>
		        </li>
				<li class="dropdown">
		          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Data Source
		          <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a href="#" data-toggle="modal" data-target="#fileModal" ng-click = "dataType = 'jsonurl'">JSON File</a></li>
					<li><a href="#" data-toggle="modal" data-target="#fileModal" ng-click = "dataType = 'xmlurl'" >XML File</a></li>
					<li><a href="#" data-toggle="modal" data-target="#fileModal"  ng-click = "dataType = ''">CSV File</a></li>
					<li><a href="#" data-toggle="modal" data-target="#dataModal" >Enter Data</a></li>
		          </ul>
		        </li>
		      </ul>
		    </div>
		</nav>

		<div class="modal fade" id="fileModal" role="dialog">
			<div class="modal-dialog modal-sm">
		      <div class="modal-content">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		          <h4 class="modal-title">Enter the destination</h4>
		        </div>
		        <div class="modal-body">
		        	<input type = "text" class = "form-control" ng-model = "rawData"/>
		        </div>
		        <div class="modal-footer">
					<button type = "button" data-dismiss = "modal" class = "btn btn-info" ng-click = "data = rawData">Done</button>
		          	<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
		        </div>
		      </div>
		    </div>
		  </div>

		<div class="modal fade" id="dataModal" role="dialog">
			<div class="modal-dialog modal-lg">
			  <div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				  	<h4 class="modal-title">Enter data manually</h4>
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
							Choose data format
					    	<span class="caret"></span>
						</button>
					    <ul class="dropdown-menu">
					      <li><a href="#" ng-click = "dataType = 'jsonurl'">JSON</a></li>
					      <li><a href="#" ng-click = "dataType = 'xmlurl'">XML</a></li>
					      <li><a href="#" ng-click = "dataType = ''">CSV</a></li>
					    </ul>
					</div>

				</div>
				<div class="modal-body">
					<div class="form-group">
						<textarea class="form-control" rows="10" id="comment" ng-model = "rawData"></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type = "button" data-dismiss = "modal" class = "btn btn-info" ng-click = "data = rawData">Done</button>
		          	<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			  </div>
			</div>
		  </div>

		<div>
			<fusioncharts
				chartid="angularChart"
				dataformat="{{dataType || 'jsonurl'}}"
    			datasource="{{data}}"
				width="100%"
				height="550"
				type="{{chartType || 'line'}}"
				events="events">
				loading...
			</fusioncharts>
		</div>
	</body>
</html>
